{% extends 'FrontendBundle:Default:index.html.twig' %}

{% block main %}
    <h2> Conoce Planeta Huerto</h2>
    <p>Planeta Huerto está formado por un equipo de profesionales de diversos sectores que trabajamos conjuntamente para conseguir que nuestro proyecto sea cada día mejor, ofreciendo a nuestros clientes información, asesoramiento, formación y libros de calidad relacionados con: el huerto urbano, la jardinería, los bonsáis, el bricolaje, la alimentación y cosmética ecológica, libros ecológicos para bebés y niños, el hogar y los animales, siempre buscando un estilo de vida más sostenible.</p>
{% endblock %}

{% block breadcrumb %}
    <li>/ <a href="{{ path('frontend_conocenos') }}">Conocenos</a></li>
{% endblock %}