{% extends 'FrontendBundle:Default:index.html.twig' %}

{% block main %}
    <h2> Tarjeta de crédito.</h2>
    <p>En Planeta Huerto, utilizamos un sistema de pago con tarjeta de crédito totalmente seguro, para asegurarnos la confidencialidad de los datos de nuestros clientes y evitar posibles compras fraudulentas. Los datos confidenciales son transmitidos directamente y de forma encriptada (SSL) a la entidad financiera correspondiente. El sistema de encriptación SSL confiere total seguridad a la transmisión de datos a través de la red. los bonsáis, el bricolaje, la alimentación y cosmética ecológica, productos ecológicos para bebés y niños, el hogar y los animales, siempre buscando un estilo de vida más sostenible.</p>
    {% endblock %}

{% block breadcrumb %}
    <li>/ <a href="{{ path('app_ayuda_formaspago') }}">Formas de pago</a></li>
{% endblock %}